header {
  /* border: solid black 1px; */
  height: 10vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  color: #23494d;
}

.logoStoryText {
  font-weight: 600;
}

.logoAiText {
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
}

.loginBtn {
  text-decoration: none;
  cursor: pointer;
  background-color: #bf5a28;
  color: #fff;
  border-radius: 5rem;
  height: 4rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  font-size: 1.4rem;
}
